*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
.mainbox{
	margin: 50px auto;
	border: 1px solid #eeeeee;
	width: 400px;
	height: 200px;
}
/* 标题 */
.mainbox .nav{
	width: 100%;
	height: 50px;
}
.mainbox .nav li{
	display: block;
	float: left;
	width: 20%;
	height: 50px;	
	text-align: center;
	line-height: 50px;
}
.mainbox .nav .show{
	border-top:1px solid crimson;
	background-color: #eee;
}
/* 内容 */
.content{
	width: 100%;
	height: 150px;
}
.content > div{
	width: 100%;
	height: 150px;
	text-align: center;
	line-height: 150px;
	display: none;
	background-color: #eee;
}
.content .active{
	display: block;
}
