.m_box{
	/*background-color: #f0f3ef;*/
	width: 100%;
}
.m_box .banner{
	height: 470px;
	width: 100%;
	background: url(../img/banner.png) no-repeat center top;
	position: absolute;
	z-index: -1;
}
.m_box .center{
	height: 470px;
	background-color: #f0f3ef;
}
.bg_img{
	height: 470px;
	width: 590px;
	margin-left:10px; 
	position: relative;
	overflow: hidden;
}

.bg_img span{
	display: block;
	width: 25px;
	height: 40px;
	background-color: rgba(0,0,0,.5);
	text-align: center;
	line-height: 40px;
}
/*.minlogo_l,.minlogo_r{
	display: none;
}*/
.bg_img span a{
	color: #fff;
}
.bg_img span a:hover{
	color: #ccc;
}
.bg_img .yuan{
	width: 150px;
	height: 15px;
	position: absolute;
	left: 33px;
	bottom: 17px;
	background-color: rgba(0,0,0,0);
}
.bg_img .yuan li {
	float: left;
	height: 13px;
	width: 13px;
	line-height: 10px;
	margin-right: 5px;
}
.bg_img .lunbo{
	width: 2950px;
	height: 470px;
}
.bg_img .lunbo li{
	float: left;
}
.bg_img .yuan li  a{
	float: left;
	height: 13px;
	width: 13px;
	border-radius: 50%;
	background-color: #fff;
}
.bg_img .yuan li .active{
	float: left;
	height: 13px;
	width: 13px;
	border-radius: 50%;
	background-color: #fff;
}



.bg_img .minlogo_l{
	position: absolute;
	top: 50%;
	margin-top: -20px;
	left: 0;
}
.bg_img .minlogo_r{
	position: absolute;
	top: 50%;
	margin-top: -20px;
	right: 0;
}




.img_list{
	height: 470px;
	width: 190px;
	margin-left:5px;
	background-color:  
}
.img_list .middle_img{
	margin:10px 0; 
}

.right_list {
	height:470px ;
	width: 190px;
}
.right_list .rl_top{
	height: 150px;
	text-align: center;
	overflow: hidden;
	position: relative;
}
.right_list .rl_top .one{
	margin-top: 80px;
	color: #ccc;
}
.right_list .rl_top span{
	margin-top: 2px;
	width: 72px;
	height: 25px;
	display: block;
	float: left;
	line-height: 25px;
	text-align: center;
	border-radius: 12px;
	box-shadow: 0 3px 10px #ccc;
}
.right_list .rl_top .person{
	background-color: #fff;
	color: red;
	margin-left: 19px;
}
.right_list .rl_top .vip{
	background-color: #333;
	color: #cccc66;
	margin-left: 10px;
}
.right_list .rl_top i{
	display: block;
	height:100px;
	width: 100px;
	background: url(../img/no_login.jpg) no-repeat center 20px;
	border-radius:  50%;
	position: absolute;
	left: 50%;
	margin-left: -50px;
	margin-top: -138px;

}


.new_list{
	height: 125px;
	width: 160px;
	border-bottom: 1px solid #ccc;
	margin-left: 15px;
	margin-top: 10px;
}
.new_list .new_title{
	height: 27px;

}
.new_list .new_title span:first-child{
	display: block;
	float: left;
	height: 25px;
	border-bottom:2px solid red;
	margin-right: 14px;
}
.new_list .new_title span:nth-child(2){
	display: block;
	float: left;
	height: 25px;
	border-left: 1px solid #ccc;
	padding-left: 14px;

}
.s_nl{
	height: 90px;
	margin-top: 10px;
}
.s_nl li{
	height: 22px;
	line-height: 22px;
}



.service{
	/*height: ;*/
	width: 170px;
	margin-left: 11px;
	margin-top: 10px;
}
.service li{
	width: 42px;
	display: block;
	float: left;
	text-align: center;
	margin-bottom: 10px;
}
.service li a p{
	color: #cc9999;
}


.service i{
	height: 24px;
	width: 19px;
	display: block;
	margin-top: 5px;
	margin-left: 10px;
	background: url(../img/icon_lifeserv.png) no-repeat -3px 0px;
}
.service li a p:hover{
	color: red;
}

.service li a:hover i{
	background: url(../img/icon_lifeserv.png) no-repeat -28px 0px;
}



.goods{
	background-color: #f0f3ef;
	overflow: hidden;
}
.good_list{
	margin-top: 30px;
	overflow: hidden;
}
.m1{
	width: 190px;
	height: 275px;
	background-color: red;
	float: left;
}
.m2{
	width: 199px;
	height: 275px;
	background-color: orange;
	border-right: 1px solid #ccc;
	float: left;
}
.m3{
	width: 180px;
	height: 260px;
	background-color: red;
	float: left;
	margin-top: 1px;
	margin-left: 1px;
}
.b1{
	width: 232px;
	height: 305px;
	background-color: #fff;
	float: left;
	margin-right: 7px;
}
.miaosha{
	height: 275px;
}
.goods_bottom{
	height: 305px;
	margin-top: 20px;
	margin-bottom: 10px;
}
.goods_bottoms{
	height: 305px;
	margin-top: 20px;
	margin-bottom: 10px;
}
.b2{
	width: 232px;
	height: 305px;
	background-color: #fff;
	float: left;
}
.subnav
{
  position: fixed;
  width: 38px;
  height: 200px;
  top:300px;
  margin-left:1285px;
}
.subnav li,.back{
  height: 36px;
  border:1px solid #DEDEDE;
  margin-bottom: 5px;
  font-size:0;
  background:url(../img/bg.png) no-repeat;
}
.subnav li:nth-child(1) {
  background-position: 0px 0px;
}
.subnav li:nth-child(2) {
  background-position: 0px -55px; 
}
.subnav li:nth-child(3) {
  background-position: 0px -110px; 
}

.subnav li:hover,.subnav li.current,.back
{
  border:1px solid #ED5759;
  background: #FDEEEE;    /*只有冲突的时候才会出现层叠 */
  /* 背景颜色 背景图片 背景位置 背景平铺  背景固定 */
  /* css 层叠样式表 */
  font-size:12px;
  color: #ED5759;
  padding-left: 6px;
  padding-top: 2px;
  height: 34px;
  cursor: pointer;
}

